body{
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color:red;
    font-size: 22px;
    font-style: italic;
}

form{
    padding: 20px 5px;
    font-size: 22px;
}
form input{
    padding: 2px;
    font-size: 22px;
    text-align: center;
}

form button{
    margin-top: 10px;
    font-size: 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color:white;
    cursor: pointer;
}